<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>帖子详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="/css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="http://localhost:9285/barter/css/style.css">
</head>
<body>
    
    <!-- 帖子信息 -->
    <div class="post_detail">
        
        <!-- 发帖人 -->
        <div class="post_man">
            发帖人

        </div>
        <!-- 帖子内容 -->
        <div class="post_content">
            帖子内容

        </div>
        <!-- 发帖时间 -->
        <div class="post_time">
            发帖时间

        </div>
    </div>

    <!-- 帖子评论 -->
    <div class="post_comment">
        <!-- 评论详情 -->
        <!-- 第一个评论 -->
    <div class="comment">
        <!-- 评论人 -->
        <div class="comment_man">
            评论人
        </div>
        <!-- 评论内容 -->
        <div class="comment_content">
            评论内容
        </div>
        <!-- 评论时间 -->
        <div class="comment_time">
            评论时间
        </div>


    </div>
    <!-- 第二个评论...... -->
    <div class="comment">
        <!-- 评论人 -->
        <div class="comment_man">
            评论人
        </div>
        <!-- 评论内容 -->
        <div class="comment_content">
            评论内容
        </div>
        <!-- 评论时间 -->
        <div class="comment_time">
            评论时间
        </div>


    </div>


    </div>
    
</body>
</html>
