<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>壹無</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="/css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="/barter/css/style.css">
</head>
<body>
<div class="top">
        <div class="top_left">
            <button onclick="javascript:window.location.href='./index.html'">看</button>
        </div>
        <div class="top_center">
            <button onclick="javascript:window.location.href='./send_post.html'">寫</button>
        </div>
        <div class="top_right">
            <button onclick="javascript:window.location.href='./mine.html'">我的</button>
        </div>
    </div>
    <div class="content">
        
        <!-- 看第一个帖子 -->
        <div class="read" onclick="javascript:window.location.href='./detail.html'">
            <div class="read_post">
                <!-- 发帖人 -->
                <div class="read_man">
                    发帖人
                </div>
                <!-- 发帖内容 -->
                <div class="read_content">
                    发帖内容
                </div>
                <!-- 评论时间 -->
                <div class="read_time">
                    发帖时间
                </div>
            </div>

        </div>

        <!-- 看第二个帖子 -->
        <div class="read" onclick="javascript:window.location.href='./detail.html'">
            <div class="read_post">
                <!-- 发帖人 -->
                <div class="read_man">
                    发帖人
                </div>
                <!-- 发帖内容 -->
                <div class="read_content">
                    发帖内容
                </div>
                <!-- 发帖时间 -->
                <div class="read_time">
                    发帖时间
                </div>
        
            </div>



        </div>


        

    </div>

    <div class="bottom">
        如有問題請聯系管理員bin@1960128653


    </div>
</body>
</html>
