<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="http://localhost:9285/barter/css/index.css">
     <script type="text/javascript" src="http://localhost:9285/barter/js/jquery-3.4.1.js"></script>
    <!-- <script type="text/javascript" src="index.js"></script> -->
    <title>用户登录</title>

</head>
<body>
    <form action="#" name="landform" class="box">
        <div class="title">
            <!-- Welcome to my personal page！ -->
            <image src="http://localhost:9285/barter/image/logo.png"></image>
        </div>
        <div class="form">
            <div class="info">
                <div class="username">
                    <div class="inputusername">
                        用户名：
                        <input type="text" name="username" id="userName">
                    </div>
                </div>
                <div class="password">
                    <div class="inputpassword">
                        密码：
                        <input type="password" name="password" id="password">
                    </div>
                </div>
            </div>
            <div class="click">
                <button type="button" id="landtest">登陆</button>
                

            </div>
            
        </div>
    </form>
    <div class="click_3">
        
        <button id="register" onclick="javascript:window.location.href='register'">注册</button>
<!--        controller跳转-->
        

    </div>


</body>

<script>

    $(function () {


        //登录事件
        $("#landtest").click(
            function() {
                let data = {"password": $("#password").val(),"userName": $("#userName").val()};
                console.log("进入到landtest()函数！！！");
                $.post({
                    // url: "http://localhost:9285/barter/user/login/"+$("#userName").val()+"/"+$("#password").val(),
                    url: "http://localhost:9285/barter/user/login", //后端接口绝对路径
                    //data-type
                    // data: $("#userName")+"/"+$("#password"),
                    dataType:"json",
                    contentType: 'application/json',
                    data:JSON.stringify(data),
                    success: function (data) {
                        console.log("ajax回调成功！！！");
                        console.log(data);
                        console.log("data.code:"+data.code);

                        if (data.code == 200) {
                            sessionStorage.setItem("userName",data.data.userName);
                            sessionStorage.setItem("userId",data.data.id);
                            console.log(sessionStorage.getItem("userId")+sessionStorage.getItem("userName"));
                            window.location.href="mine";
                            console.log("登录成功！！！");
                        } else {
                            window.location.href="login";
                            alert("登录失败！！！");
                        }

                    },
                    error: function (data) {
                        // window.location.href="http://localhost:9285/barter/login";
                        console.log("ajax回调失败！！！");

                    }


                });



        })
    })

</script>

</html>






    