<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/barter/css/index.css">
    <!-- <script type="text/javascript" src="jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="index.js"></script> -->
    <title>注册</title>

</head>
<body>
    <form action="#" name="landform" class="box">
        <div class="title">
            <!-- Welcome to my personal page！ -->
            <image src="/barter/image/logo.png}"></image>
        </div>
        <div class="form">
            <div style="width: 400px;
            height: 260px;
            margin: 0px auto;left: 50px;position: relative;">
                
                <div class="username">
                    <div >
                        用戶名：
                        <input type="text" name="username">
                    </div>
                    <div style="top: 18px;position: relative;left: 16px;">
                        密碼：
                        <input type="text" name="password">
                    </div>
                    <div style="top: 36px;position: relative;left: 16px;">
                        姓名：
                        <input type="text" name="relname">
                    </div>
                    <div style="top: 54px;position: relative;left: 16px;">
                        性别：
                        <input type="text" name="sex">
                    </div>
                    <div style="top: 72px;position: relative;left: -14px;">
                        聯系方式：
                        <input type="text" name="telphone">
                    </div>
                </div>
                
            </div>
            <div class="click" style="position: relative;left: 280px;">
                <button onclick="javascript:window.location.href='./login.html'">注册</button>
                
            </div>
        </div>
    </form>



</body>

</html>






    