<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>传</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="/css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="http://localhost:9285/barter/css/style.css">
    <link rel="stylesheet" href="/barter/css/style.css">
</head>
<body>
<div class="top">
    <div class="top_left">
        <button onclick="javascript:window.location.href='index'">看</button>
    </div>
    <div class="top_center">
        <button onclick="javascript:window.location.href='send_post'">传</button>
    </div>
    <div class="top_right">
        <button onclick="javascript:window.location.href='mine'">我的</button>
    </div>

</div>
    <!-- 发帖 -->
    <div class="content">
        <!-- 帖子内容 -->
        <div class="send_post">
            <div class="send_post_content">
<!--                 <input type="text" class="send_post_title"/>-->
<!--                 <input type="text" class="send_post_type"/>-->
<!--                 <input type="text" class="send_post_easy_context"/>-->
<!--                 <input type="text" class=""/>-->
                <textarea name="textfield3" class="send_post_input" cols="30" rows="3">
                </textarea>
                <!-- <input type="text" class="send_post_input"/> -->
                <textarea name="textfield3" class="send_post_input" cols="30" rows="3"></textarea>
            </div>
        </div>
        <!-- 发送 -->
        <div >
            <button class="send_post_button">提交</button>
        </div>
    </div>
    <div class="bottom">
        如有問題請聯系管理員bin@1960128653
    </div>
</body>
</html>
